@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/*Шапка сайта*/

.page-header {
  box-sizing: border-box;

  width: inherit;
  min-height: 64px;
  padding: 0 70px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo img {
  display: block;
  object-fit: contain;
}

.navigation {
  position: relative;
  display: flex;
}

.navigation-list {
  display: inherit;
  flex-wrap: wrap;
  align-items: center;
  width: 464px;
  margin: 0;
  padding: 0;
  padding-left: 169px;
  list-style-type: none;
}

.navigation-user {
  justify-content: flex-end;
  width: 312px;
  margin-left: auto;
  padding-left: 0;
}

.navigation-link {
  position: relative;

  display: block;
  padding: 20px 16px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;

  border-bottom: 2px solid #756257;
  content: "";
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-link-search,
.navigation-link-favorites {
  padding: 22px 12px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.favorites-counter {
  box-sizing: border-box;

  position: absolute;
  top: 11px;
  left: 20px;

  width: 20px;
  height: 20px;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  margin-left: 20px;
  padding: 8px 34px;
}

a.disabled {
  pointer-events: none;
  background-color: #e5e5e5;
}


/*Общие стили и состояния кнопок*/

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

.blue-button {
  background-color: #82b3d3;
}

.blue-button:hover {
  background-color: #68a2ca;
}

.brown-button {
  background-color: #756157;
}

.brown-button:hover {
  background-color: #615048;
}

/*Общие стили заголовков и параграфов*/

.section-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  text-transform: uppercase;
}

.section-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/*Hero*/

.hero img {
  display: block;
  object-fit: contain;
}

.hero-image-wrapper {
  position: relative;
}

.hero-image-wrapper::after {
  position: absolute;
  bottom: 0;

  width: 1200px;
  min-height: 57px;
  background-image: url("../images/divider.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  content: "";
  z-index: 1;
}

.hero-title-wrapper {
  padding: 69px 274px 90px;
  text-align: center;
}

.hero-title {
  margin-bottom: 25px;
}

/*Преимущества, обе секции*/

.advantages-list,
.features-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-flow: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item img {
  display: block;
  object-fit: contain;
}

.advantages-description-wrapper,
.features-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;

  width: 400px;
  min-height: 384px;
  padding: 85px;
  padding-top: 104px;
  text-align: center;
}

.advantages-title,
.features-title {
  margin-top: 0;
  margin-bottom: 62px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description,
.features-description {
  position: relative;
  margin: 0;
  color: #333333;
}

.advantages-description::before {
  position: absolute;
  right: 85px;
  left: 85px;
  margin-top: -33px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-item-illustrated .advantages-description::before {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-item-illustrated {
  display: flex;
  grid-column: 1 / -1;

  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-illustrated .advantages-description-wrapper {
  padding-top: 93px;
}

.advantages-item-illustrated .advantages-description {
  color: #ffffff;
}

.advantages-item:nth-of-type(2n),
.features-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item {
  position: relative;
  justify-content: flex-start;
  padding: 80px 85px;
}

.features-title {
  margin-top: 103px;
  margin-bottom: 29px;
}

.features-item::before {
  position: absolute;
  width: 75px;
}

.features-item-hotel::before {
  top: 80px;


  min-height: 72px;
  padding: 0 79px;
  background-image: url("../images/icons/hotel.svg");
  background-position: center top;
  background-repeat: no-repeat;
  content: "";
}

.features-item-food::before {
  top: 81px;

  min-height: 72px;
  padding: 0 78px;
  background-image: url("../images/icons/food.svg");
  background-position: center top;
  background-repeat: no-repeat;
  content: "";
}

.features-item-souvenir::before {
  top: 78px;

  width: 75px;
  height: 100%;
  padding: 0 78px;
  background-image: url("../images/icons/present.svg");
  background-position: center top;
  background-repeat: no-repeat;
  content: "";
}

/*Поиск гостиницы*/

.hotel-search {
  box-sizing: border-box;
  padding: 96px 304px;
  padding-bottom: 104px;
  text-align: center;
}

.hotel-search-title {
  display: block;
  margin-bottom: 20px;
}

.hotel-search-description {
  margin-bottom: 62px;
}

.hotel-search-button {
  padding: 13px 50px;
  font-size: 20px;
  line-height: 36px;
}

/*Подписка*/

.subscription {
  padding: 96px 258px 104px;
  text-align: center;
  background-image: url("../images/subscription-background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  margin-bottom: 20px;
  color: #ffffff;
}

.subscription-description {
  margin-bottom: 55px;
  color: #ffffff;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.field {
  box-sizing: border-box;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:active {
  outline: 2px solid #000000;
}

.field:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #82b3d3;
}

.subscription-form .field {
  width: 452px;
  min-height: 52px;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}

.subscription-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 4px 4px 0;
}

/*Подвал*/

.page-footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 44px 70px 35px;
}

.socials {
  margin-right: auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  position: relative;
  display: block;
  min-width: 24px;
  min-height: 17px;
  padding: 12px 13px;
}

.social-link-vk {
  padding-right: 11px;
}

.social-link-tg .social-icon {
  right: 1px;
  bottom: 1px;
  left: -3px;
}

.social-link-youtube .social-icon {
  top: 1px;
  right: 8px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1px;
  left: 0;
  margin: auto;
  color: #82b3d3;
}

.social-link:hover .social-icon {
  color: #68a2ca;
}

.social-link:active .social-icon {
  color: rgba(104, 162, 202, 0.3);
}

.contacts {
  margin-right: 235px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.contacts-phone:hover,
.academy-logo:hover {
  color: #756157;
}

.contacts-phone:active,
.academy-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy-logo {
  display: block;
  max-height: 34px;
  color: #000000;
}


/*Модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 20;
}

.modal {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 717px;
}

.modal-title {
  margin-bottom: 64px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-form {
  display: grid;
  grid-template-columns: 247px 88px 242px;
  row-gap: 23px;
}

.field-group {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 137px 1fr;
  align-items: center;
  min-height: 73px;
  padding: 0;

  border: none;
}

.field-group-counter {
  display: flex;
  justify-content: space-between;
  min-height: 48px;
}

.field-group-adults {
  grid-column: 1 / 2;
}

.field-group-children {
  grid-column: 3 / -1;
}


.field-label {
  grid-column: 1 / 2;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.field-group .field {
  grid-column: 2 / -1;
  min-height: 48px;
  padding: 0;
  padding-left: 20px;
  font-weight: 700;
}

.field-group:not(.field-group-counter) .field {
  background-image: url("../images/icons/calendar.svg");
  background-position: 400px 14px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.field-message {
  grid-column: 2 / -1;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.field-message.invalid {
  color: #ff5757;
}

.counter-wrapper {
  display: flex;
}

.counter-wrapper .field {
  width: 31px;
  border-radius: 0;
}

.minus-button,
.plus-button {
  width: 40px;
  min-height: 48px;
  background-color: #f2f2f2;
  border: none;
}

.modal-search-button {
  grid-column: 1 / -1;
  margin-top: 25px;
}
